<!DOCTYPE html>
<html>
<head><title>Edit Product</title></head>
<body>
  <h1>Edit Product</h1>
  <form action="/edit/<%= product._id %>?_method=PUT" method="POST">
    <input name="name" value="<%= product.name %>" required><br>
    <input name="quantity" type="number" value="<%= product.quantity %>" required><br>
    <input name="price" type="number" value="<%= product.price %>" required><br>
    <button type="submit">Update</button>
  </form>
  <a href="/">Back</a>
</body>
</html>
